name: Run source to binary mapping on boolean.py

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

jobs:
  build-python-wheel:
      name: Build python wheel
      runs-on: ubuntu-24.04
  
      steps:
      - uses: actions/checkout@v4
        with:
          repository: bastikr/boolean.py

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
            python-version: 3.12
  
      - name: Install pypa/build and twine
        run: python -m pip install --user --upgrade build twine packaging pip setuptools
  
      - name: Build a binary wheel
        run: python -m build --wheel --outdir dist/
  
      - name: Upload wheel
        uses: actions/upload-artifact@v4
        with:
          name: wheel_archives
          path: dist/*.whl

  map-source-binary:
      name: Generate source to binary mapping
      needs: build-python-wheel
      uses: ./.github/workflows/map-deploy-to-develop-template.yml
      with:
        artifact-name: wheel_archives
        repository: bastikr/boolean.py
        steps: "python"