on: [push]

jobs:
  scan-codebase:
    runs-on: ubuntu-24.04
    name: Map deploy to develop
    steps:
      - name: Get the action.yml from the current branch
        uses: actions/checkout@v4
        with:
          sparse-checkout: action.yml
          sparse-checkout-cone-mode: false

      - uses: ./
        with:
          pipelines: "map_deploy_to_develop:Java"
          input-urls:
            https://github.com/aboutcode-org/scancode.io/raw/main/scanpipe/tests/data/d2d/jars/from-flume-ng-node-1.9.0.zip#from
            https://github.com/aboutcode-org/scancode.io/raw/main/scanpipe/tests/data/d2d/jars/to-flume-ng-node-1.9.0.zip#to
        env:
          PURLDB_URL: https://public.purldb.io/
