on: [push]

jobs:
  scan-codebase:
    runs-on: ubuntu-24.04
    name: Scan a package archive
    steps:
      - name: Get the action.yml and scripts from the current branch
        uses: actions/checkout@v4
        with:
          sparse-checkout: |
            action.yml
            scripts/
          sparse-checkout-cone-mode: false

      - uses: ./
        with:
          pipelines: "scan_single_package"
          input-urls:
            https://github.com/${GITHUB_REPOSITORY}/archive/${GITHUB_REF}.zip
